.search-field {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 20px;
	align-items: center;
	width: 100%;
}

/* Label */
.search-field .search-field__label {
	display: flex;
	align-items: center;

	margin: 0;
	border: 1px solid transparent;
	border-radius: 5px;
	background: #fff;
}

/* Label icon */
.search-field .search-field__label i {
	padding: 5px 10px;
	font-size: 18px;
	color: #0233592b;
}

/* Input */
.search-field .search-field__input {
	margin: 0;
	padding: 5px 15px 6px 0;
	width: 100%;
	font-size: 14px;
	border: 0;
	background: transparent;
}

.search-field .search-field__input:focus {
	outline: none;
}
