header {
    flex-shrink: 0;
}

@keyframes loader {
	0% {
	  width: 0;
	}

	50% {
	  width: 50%;
	}

	100% {
	  width: 100%;
	}
}
.progress-bar__label {
  color: white;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-bar__bar {
  background: rgba(0, 0, 0, 0.075);
  overflow: hidden;
}

.progress-bar__progress {
	animation: loader 2s ease infinite;
	background: #ff4081;
	color: #fff;
	padding: 1.5px;
	width: 0;
	display: block;
}

.progress-bar {
	left: 50%;
	max-width: 50%;
	position: absolute;
	transition: all .3s;
	transform: translate3d(-50%, -30%, 0);
	width: 100%;
}
